scenario-8/src/main/mule/scenario-8.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <error-handler name="globalErrorHandler">

        <on-error-continue type="ANY">

            <logger level="ERROR" message='Global Handler: #[error.description]'/>

            <set-payload value='#[%dw 2.0&#10;output json&#10;---&#10;{&#10;                "status": "handled globally"&#10;}]'/>

        </on-error-continue>

    </error-handler>
	<flow name="scenario-8Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc8" />

        <raise-error type="VALIDATION:INVALID_INPUT" description="Error in flow" />
		<error-handler ref="globalErrorHandler" />

    
</flow>


</mule>