scenario-4/src/main/mule/scenario-4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <flow name="scenario-4Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc4"/>

        <logger level="INFO" message="Flow Start"/>

        <raise-error type="VALIDATION:INVALID_INPUT" description="Forced error in flow"/>

        <logger level="INFO" message="This will not execute"/>

        <error-handler>

            <on-error-propagate type="VALIDATION:INVALID_INPUT">

                <logger level="ERROR" 
                        message='Error occurred and propagated: #[error.description]'/>

            </on-error-propagate>

        </error-handler>

    </flow>

</mule>