scenario-12/src/main/mule/scenario-12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <flow name="scenario-12Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc12"/>

        <logger level="INFO" message="Flow Start"/>

        <raise-error type="VALIDATION:INVALID_INPUT" description="Invalid input provided"/>

        <error-handler>

            <on-error-continue type="VALIDATION:INVALID_INPUT">

                <logger level="ERROR" 
                        message='Handled specific error: #[error.description]'/>

                <set-payload value='#[%dw 2.0&#10;output json&#10;---&#10;{&#10;                    "status": "validation failed",&#10;                    "message": "Invalid input handled"&#10;}]'/>

            </on-error-continue>

            <on-error-propagate type="ANY">

                <logger level="ERROR" 
                        message='Unhandled error: #[error.description]'/>

            </on-error-propagate>

        </error-handler>

    </flow>

</mule>