scenario-9/src/main/mule/scenario-9.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <error-handler name="globalHandler">

        <on-error-continue type="ANY">

            <logger level="ERROR" message='Global Handler: #[error.description]'/>

            <set-payload value='{
                "status": "handled globally"
            }'/>

        </on-error-continue>

    </error-handler>

    <flow name="scenario-9Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc9"/>

        <raise-error type="VALIDATION:INVALID_INPUT" description="Error in flow"/>

        <error-handler ref="globalHandler">
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1f070ded-f472-4b49-80ec-32b5db55b1e2" type="VALIDATION:INVALID_INPUT">
				<logger level="ERROR" doc:name="Logger" doc:id="16023801-7330-489a-9769-374c9f8bf944" message="Flow Handler: propagating error #[error.description]" />
			</on-error-continue>

        
</error-handler>

    </flow>

</mule>