scenario-7/src/main/mule/scenario-7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <flow name="scenario-7Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc7"/>

        <logger level="INFO" message="Flow Start"/>

        <try>

            <logger level="INFO" message="Inside Try - Before Error"/>

            <raise-error type="VALIDATION:INVALID_INPUT" description="Error in Try"/>

            <logger level="INFO" message="Inside Try - After Error"/>

            <error-handler>

                <on-error-propagate type="VALIDATION:INVALID_INPUT">

                    <logger level="ERROR" 
                            message='Handled in Try, propagating: #[error.description]'/>

                </on-error-propagate>

            </error-handler>

        </try>

        <logger level="INFO" message="After Try - Will NOT execute"/>

        <set-payload value="This will not execute"/>

        <error-handler>

            <on-error-continue type="ANY">

                <logger level="ERROR" 
                        message='Handled in Flow: #[error.description]'/>

                <set-payload value='#[%dw 2.0&#10;output json&#10;---&#10;{&#10;                    "status": "handled at flow level"&#10;                }]'/>

            </on-error-continue>

        </error-handler>

    </flow>

</mule>