scenario-1/src/main/mule/scenario-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <flow name="scenario-1Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc1"/>

        <logger level="INFO" message="Step 1: Flow started" doc:name="Before error"/>

        <set-payload value="Before Error"/>

        <raise-error type="VALIDATION:INVALID_INPUT" description="Forced error" doc:name="Forced error"/>

        <logger level="INFO" message="Step 4: This will NOT execute" doc:name="After error"/>

        <error-handler>

            <on-error-continue type="VALIDATION:INVALID_INPUT">
                
                <logger level="ERROR" message='Error occurred: #[error.description]' doc:name="Error Handler reached"/>

                <set-payload value='Error handled successfully. Flow did not crash.' doc:name="Payload overwrites"/>

            </on-error-continue>

        </error-handler>

    </flow>

</mule>