scenario-10/src/main/mule/scenario-10.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082" readTimeout="300000"/>
    </http:listener-config>

    <flow name="scenario-10Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc10"/>

        <logger level="INFO" message="Flow Start"/>

        <until-successful maxRetries="3" millisBetweenRetries="1000">

            <raise-error type="MULE:CONNECTIVITY" description="Simulated failure"/>

        </until-successful>

        <logger level="INFO" message="This will NOT execute if retries fail"/>
		<error-handler>

            <on-error-continue type="ANY">

                <logger level="ERROR" 
                        message='Retries exhausted: #[error.description]'/>

                <set-payload value='#[%dw 2.0&#10;output json&#10;---&#10;{&#10;                    "status": "retry failed",&#10;                    "message": "All retries exhausted"&#10;}]'/>

            </on-error-continue>

        </error-handler>

    </flow>


</mule>