scenario-16/src/main/mule/scenario-16.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <error-handler name="globalHandler">

        <on-error-continue type="ANY">
            <logger level="ERROR" message='Global Handler: #[error.description]'/>
            <set-payload value='#[%dw 2.0&#10;output json&#10;---&#10;{&#10;                "status": "handled globally"&#10;}]'/>
        </on-error-continue>

    </error-handler>

    <flow name="scenario-16Flow">

        <http:listener config-ref="HTTP_Listener_config" path="/sc16"/>

        <try>

            <raise-error type="VALIDATION:INVALID_INPUT" description="Error in Try"/>

            <error-handler>

                <on-error-propagate type="VALIDATION:INVALID_INPUT">
                    <logger level="ERROR" message='Try Handler: Propagating error'/>
                </on-error-propagate>

            </error-handler>

        </try>

        <error-handler ref="globalHandler">

            <on-error-propagate type="ANY">
                <logger level="ERROR" message='Flow Handler: Propagating error'/>
            </on-error-propagate>

        </error-handler>

    </flow>

</mule>